<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>List</title>
</head>
<body>

<h1 th:text="${list.name}">Name of List</h1>

<div>
    <button th:onclick="|document.location = '@{/account/}'|" type="button">Back to account</button>
</div>


<h2>Friends participating in this list:</h2>

<table>
    <thead>
    <tr>
        <th> Name</th>
        <th> id</th>
        <th> action</th>
    </tr>
    </thead>
    <tbody>
    <tr th:if="${list.participating_users.empty}">
        <td colspan="3">There no participating friends.</td>
    </tr>
    <tr th:each="friend : ${list.participating_users}">
        <td><span th:text="${friend.userName}"> Name </span></td>
        <td><span th:text="${friend.id}"> id </span></td>
        <td>
            <div th:if="${isCreatorOfList}">
            <form th:action="@{/account/removeFriendFromList}" method="post">
                <input type="hidden" th:value="${friend.id}" name="userId"/>
                <input type="hidden" th:value="${list.id}" name="listId"/>
                <input type="submit" value="remove friend from list"/>

            </form>
            </div>
        </td>
    </tr>
    </tbody>
</table>


<div th:if="${isCreatorOfList}">
<h2>Your friends to add:</h2>

<table>
    <thead>
    <tr>
        <th> Name</th>
        <th> id</th>
        <th> action</th>
    </tr>
    </thead>
    <tbody>
    <tr th:if="${user.friends.empty}">
        <td colspan="3">You have no friends yet!</td>
    </tr>
    <tr th:each="friend : ${friendsToAdd}">
        <td><span th:text="${friend.userName}"> Name </span></td>
        <td><span th:text="${friend.id}"> id </span></td>
        <td>

            <form th:action="@{/account/addFriendToList}" method="post">
                <input type="hidden" th:value="${friend.id}" name="userId"/>
                <input type="hidden" th:value="${list.id}" name="listId"/>
                <input type="submit" value="add friend to list"/>

            </form>

        </td>
    </tr>
    </tbody>
</table>



<h2>Add new product to your List</h2>
<form th:action="@{/account/createProduct}" method="post">
    <input type="hidden" th:value="${list.id}" name="listId"/>
    <input type="submit" value="add new product"/>
</form>

</div>


<table>
    <thead>
    <tr>
        <th> Product</th>
        <th> Quantity</th>
        <th> Buy</th>
    </tr>
    </thead>
    <tbody>

    <tr th:each="productInList : ${productsInList}">
            <td><span th:text="${productInList.termek.name}"> Name </span></td>
            <td><span th:text="${productInList.quantity}"> Quantity </span></td>
            <td>
                <div th:if="!${productInList.is_bought}">
                    <form th:action="@{/account/buyProduct}" method="post">
                        <input type="hidden" th:value="${productInList.termek.id}" name="termekId"/>
                        <input type="hidden" th:value="${productInList.lista.id}" name="listId"/>
                        <input type="submit" value="buy"/>

                    </form>
                </div>
            </td>
    </tr>

    </tbody>
</table>

<h2>Sum of this List</h2>
<span th:text="${list.vegosszeg}">Sum of list</span>


</body>
</html>